<h1>Install application</h1>
<img border="0" src="http://www.wishpot.com/img/buttons/addtoregistry139px26px.png" alt="Add to Baby Registry" />
<% form_tag '/login/authenticate' do %>
  <label for='shop'><strong>The URL of the Shop</strong>
    <span class="hint">(or just the subdomain if it&rsquo;s at myshopify.com)</span>
  </label>
  <p>
    <%= text_field_tag 'shop', {}, {:size => 45} %>
    <%= submit_tag 'Install' %>
  </p>
<% end %>